<app-header></app-header>
<div class="container-fluid p-0 vh-100 d-flex bg-light justify-content-center " style="margin-bottom: -25%">
    <div class="container">
        <div class="row d-flex justify-content-center mt-4">            
            <div class="col-md-8 mt-5 mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10" [formGroup]="formulario">
                        <h2 class="text-center m-0">Entrar</h2>
                        <div class="form-group">
                          <label for="usuario">Usuário</label>
                          <input formControlName="usuario" [(ngModel)]="userLogin.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu e-mail">
                        </div>
                        <div *ngIf="formulario.get('usuario')?.errors?.['required'] && formulario.get('usuario')?.touched">
                          <p class="validaForm">O campo e-mail é obrigatório.</p>
                        </div>
                        <div class="form-group">
                          <label for="senha">Senha</label>
                          <input formControlName="senha" [(ngModel)]="userLogin.senha" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                        </div>
                        <div *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
                          <p class="validaForm">O campo senha é obrigatório.</p>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center" style="justify-items: center;">                           
                            <button type="submit" class="btn btn-succes text-white"style="margin: 15px; background: #e63909" (click)="login()">Entrar</button>
                        </div>
                          <div>
                            <hr class="mt-5 mb-5">
  
                            <p class="text-center">
                              Não tem uma conta? <a  routerLink='/cadastrar'>Faça seu Cadastro</a>
                            </p>
  
                          </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>

<app-footer></app-footer>