<app-header></app-header>
<div class="container mt-5" style="margin-bottom: 20%;">

  <div class="row">

    <div class="col-md-8">
      <div class="card" style="margin-left: 15%;">
        <h5 class="card-header  text-center"  style="background: #010127; width: 100%;">Carrinho</h5>

        <div class="card-body d-flex align-items-center" *ngFor="let item of listaProdutos">
          <div class="row align-items-center">

            <div class="col-md-3 mr-5">
              <img class="img-fluid tm-max" src="{{'../../../../assets/jogos/'+ item.imagem}}"
              alt="Imagem do produto">
            </div>

            <div class="col-md-5 mr-5">
              <h6 class="text-secondary mr-5">{{item.nomeProduto}}</h6>
            </div>

            <div class="col md-3 d-flex justify-content-end">
              <h6 class="justify-content-end mr-2">{{item.valorProduto | currency : 'BRL'}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="card" style="margin-left: 15%;">
        <h5 class="card-header text-center"  style="background: #010127; width: 100%;">Resumo do pedido</h5>

        <div class="card-body">
          <h5 class="text-center">Total: {{soma | currency : 'BRL'}}</h5>
          <hr>
        </div>

        <div class="d-flex justify-content-center mb-2" *ngIf="auth.logado() == false">
          <button (click)="pagamento()" type="button" class="btn btn-primary" style="background: #010127; border: 0; margin: 2%; ">Comprar</button>
          <button data-bs-toggle="modal" data-bs-target="#deletarProduto" type="button" class="btn btn-primary" style="background: #e63909; border: 0;margin: 2%;">Cancelar</button>
        </div>

        <div class="d-flex justify-content-center mb-2" *ngIf="auth.logado() == true">
          <button *ngIf="soma == 0" (click)="finalizarCompra()" type="button" class="btn btn-primary" style="background: #010127; border: 0; margin: 2%; ">Comprar</button>
          <button *ngIf="soma != 0" data-bs-toggle="modal" data-bs-target="#formaPagamento" type="button" class="btn btn-primary" style="background: #010127; border: 0; margin: 2%; ">Comprar</button>
          <button *ngIf="soma == 0" (click)="finalizarCompra()" type="button" class="btn btn-primary" style="background: #e63909; border: 0;margin: 2%;">Cancelar</button>
          <button *ngIf="soma != 0" data-bs-toggle="modal" data-bs-target="#deletarProduto" type="button" class="btn btn-primary" style="background: #e63909; border: 0;margin: 2%;">Cancelar</button>
        </div>
        
      </div>

    </div>

  </div>

</div>
<!-- MODAL CANCELAR-->
<div class="modal fade" id="deletarProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cancelar Compra</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja cancelar sua compra?</p>
      </div>
      <div class="modal-footer">
        <button style="background: #010127;" type="reset" class="btn text-white" data-bs-dismiss="modal">Não</button>
        <button style="background:#e63909; " type="submit" class="btn text-white" (click)="cancelar() " data-bs-dismiss="modal">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL PAGAMENTO-->
<div class="modal fade" id="formaPagamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Forma de pagamento</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 100%;">
        <button style="background:#e63909; margin: 10px;" type="submit" class="btn text-white" data-bs-toggle="modal" data-bs-target="#pagarPix">Pagar com Pix</button>
        <button style="background:#e63909; margin: 10px;" type="submit" class="btn text-white" data-bs-toggle="modal" data-bs-target="#pagarBoleto">Pagar com Boleto</button>
      </div>
      
    </div>
  </div>
</div>

<!-- MODAL PIX -->
<div class="modal fade" id="pagarPix" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">
          O valor da sua compra é {{ soma | currency: "BRL"}}          
          <img class="pagameto" src="../../assets/pagamento/pix.png" alt="">
        </h5>
      </div>
      <div class="modal-footer">       
        <button style="background:#e63909; " type="submit" class="btn text-white" (click)="finalizarCompra()" data-bs-dismiss="modal">Pagar</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL BOLETO -->
<div class="modal fade" id="pagarBoleto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <tr>
        <td width="70%" colspan="6">
            <span class="title">Local de Pagamento</span>
            <br/>
            <span class="text">ATÉ O VENCIMENTO EM QUALQUER BANCO OU CORRESPONDENTE NÃO BANCÁRIO.</span>
        </td>
        <td width="30%">
            <span class="title">Vencimento</span>
            <br/>
            <br/>
            <p class="content left text" style="font-weight:bold;">{{dataAtual}}</p>
        </td>
    </tr> 
    <tr>
      <td width="70%" colspan="6">
          <span class="title">Nome do Beneficiário / CNPJ </span>
          <br/>
          <table border="0" style="border:none">
              <tr>
                  <td width="60%"><span class="text">After Work Games</span></td>
                  <td><span class="text"> 01.000.000/0001-00</span></td>
              </tr>
          </table>
          <br/>                    
      </td>
     
    </tr>
    <tr>                          
      <td width="30%">
          <span class="title">Carteira/Nosso Número</span>
          <br/>
          <br/>
          <p class="content right">157/12345678-9</p>
      </td>
    </tr>
    <tr>         
 
      <td>
          <span class="title">Valor</span>
          <br/>
          <p class="content center">{{ soma | currency: "BRL"}}</p>
      </td>
      
    </tr>
    <tr>
      <td colspan="7">
          <table border="0" style="border:none">
              <tr>
                  <td width="60%"><span class="text"><b>Nome do Pagador: </b> {{nome}}</span></td>
                  <td><span class="text"><b>CNPJ/CPF: </b> {{cpf}}</span></td>
              </tr>
              <tr>
                  <td><span class="text"><b>E-mail: </b> {{email}}</span></td>
                  <td>&nbsp;</td>
              </tr>
             <tr>
              <td>
                <img style="height: 40px" src="../../assets/pagamento/barras.png" alt="">
              </td>
             </tr>
          </table>

      </td>

    </tr>
        
    
    <div class="modal-footer">       
      <button style="background:#e63909; " type="submit" class="btn text-white" (click)="finalizarCompra()" data-bs-dismiss="modal">Pagar</button>
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>