
<div class="container-fluid align-items-between">
  <div class="row d-flex mt-5 container-fluid">   
    <h2 style="display: flex; "> Destaques da semana</h2>   
  </div>
  <hr class="m-4" style="border: black solid 2px; ">

  <div class="card-group row d-flex mt-5 container-fluid justify-content-center align-items-center w-100 mt-5">
    <div routerLink="/jogos-app" class="card btn"  style="padding-top: 2%; margin-left:50px; align-items: center; justify-content: center;">
      <img src="../../../assets/jogos/assassinscreedvalhalla.png" class="card-img-top" alt="Jogo Assassins Creed Valhalla">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Assassins Creed Valhalla</b></h5>  
    </div>
    <div routerLink="/jogos-app" class="card btn"  style="padding-top: 2%; margin-left:50px; align-items: center; justify-content: center;">
      <img src="../../../assets/jogos/farCry6.png" class="card-img-top" alt="Jogo FarCry 6">
      <h5 style="margin-top: 5%;" class="card-title"> <b>FarCry 6</b></h5>      
    </div>
    <div routerLink="/jogos-app" class="card btn"  style="padding-top: 2%; margin-left:50px; align-items: center; justify-content: center;">
      <img src="../../../assets/jogos/spiderman.png" class="card-img-top" alt="Jogo Spider Man Miles Morales">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Spider Man </b></h5>
    </div>
    <div routerLink="/jogos-app" class="card btn"  style="padding-top: 2%; margin-left:50px; align-items: center; justify-content: center;">
      <img src="../../../assets/jogos/destiny2.png" class="card-img-top" alt="Jogo Destiny 2">
      <h5 style="margin-top: 5%;" class="card-title"> <b>Destiny 2</b></h5>
    </div>
    <div routerLink="/jogos-app" class="card btn"  style="padding-top: 2%; margin-left:50px; align-items: center; justify-content: center;">
      <img src="../../../assets/jogos/NBA2K22.png" class="card-img-top" alt="Jogo NBA 2k22">
      <h5 style="margin-top: 5%;" class="card-title"> <b>NBA 2k22</b> </h5>
    </div>
  </div>
</div>
