<!-- <app-header-usuario></app-header-usuario> -->
<app-header></app-header>
<div class="container-fluid d-flex justify-content-center p-0 vh-100">
    <div class="container">
      <div class="row d-flex justify-content-center mt-4 mb-5">

        <form class="form-signin rounded-sm vw-80">          

          <h2 class="text-center">Atualizar Usuário</h2>


          <div class="tab-content">
            <div id="login" class="container tab-pane active">
                <label for="nome">Nome completo:</label>
                        <input [(ngModel)]="usuario.nome" class="form-control mb-4" type="text" name="nome" id="nome" placeholder="Seu nome completo">
                        <label for="inputPassword" class="sr-only"></label>

                        <label for="email">Email:</label>
                        <input [(ngModel)]="usuario.usuario" type="email" id="inputEmail" class="form-control mb-4"
                        placeholder="Email" name='usuario'>

                        <label for="cpf">CPF:</label>
                        <input [(ngModel)]="usuario.cpfUsuario" type="text" id="cpfUsuario" class="form-control mb-4"
                        placeholder="cpf" name='cpfUsuario' disabled>              

                        <label for="inputPassword" class="sr-only"></label>
                        <label for="senha">Senha:</label>
                        <input class="form-control mb-4" (input)="confirmSenha($event)" type="password" name="senha" id="senha"
                        placeholder="Sua senha">
                        <label for="confirmSenha">Confirmar senha:</label>
                        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">


                    <div class="one-line mb-2"></div>

                    <div class="d-flex justify-content-between mt-3">
                      <button routerLink="/home" class="btn btn-danger w-25 m-0" style="background:#f76201; border: 0;" type="submit">Cancelar</button>
                      <button (click)="atualizar()" class="btn btn-success w-25 m-0" style="background: #010127; border:0;" type="submit">Atualizar</button>    
                      <button class="btn btn-success w-25 m-0" style="background: #e63909; border:0;" type="submit" data-bs-toggle="modal" data-bs-target="#deletarConta">Deletar Conta</button>                      
                    </div>
                </div>
              </div>

        </form>

      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletarConta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Deletar Conta</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja deletar sua Conta?</p>
      </div>
      <div class="modal-footer">
        <button style="background: #010127;" type="reset" class="btn text-white" data-bs-dismiss="modal">Cancelar</button>
        <button style="background:#e63909; " type="submit" class="btn text-white" (click)="delete() " data-bs-dismiss="modal">Deletar</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>