<app-header></app-header>
<div class="container" style="margin-bottom: -150px;">
  <div  style="margin: 2%; margin-top: 5%;">
    <div class="row d-flex align-items-center">
     <div class="col-md-12">
         <div class="row d-flex justify-content-center">

              <div class="col-md-6 shadow p-5 mb-5 bg-white rounded">
                <h4 class="p-2">Nossa História</h4>
                <p style="text-align: justify; margin-left: 10px;">
                  A After Work trata-se de uma loja de jogos virtuais, idealizada, e fundada em 2022, por um grupo de amigos (Ana Kélvia Coutinho, Dráuzio Santos, Fernando Rodrigues, Jefferson da Silva, Michele Rosa, Roberta Rabelo, Wallan Mota), que tem como missão a preservação do meio ambiente e a satisfação do cliente.
                </p>
                <p style="text-align: justify; margin-left: 10px;">
                  O foco do e-commerce são jogos digitais, possibilitando a compra em qualquer lugar do mundo e o recebimento imediato após a confirmação do pagamento. Além disso, como não trabalhamos com mídias físicas evitamos o descarte incorreto de plástico no meio ambiente.
                </p>
                <p style="text-align: justify; margin-left: 10px;">
                  Você pode realizar sua compra de forma confortável, sem sair de casa, e as formas de pagamento são 100% seguras.
                </p>
              </div>

              <div class="col-md-6 d-flex cont">

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/ana.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/keelcoutinho" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Ana"></a>
                      <a href="https://www.linkedin.com/in/anakelvia-coutinho/" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Ana"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Ana Kélvia</p>
                    <p>Jogo Preferido:</p>
                    <p>God of War</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/drauzio.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/DrauzioSantos" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Draúzio"></a>
                      <a href="http://www.linkedin.com/in/drauziosantos" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Dráuzio"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Dráuzio</p>
                    <p>Jogo Preferido:</p>
                    <p>GTA</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/fernando.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/Nando-PC" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Fernando"></a>
                      <a href="" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Fernando"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Fernando</p>
                    <p>Jogo Preferido:</p>
                    <p>Street Fight</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/jefferson.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/jeffsouza01" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Jefferson"></a>
                      <a href="https://www.linkedin.com/in/jeffsouza01/" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Jefferson"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Jefferson</p>
                    <p>Jogo Preferido:</p>
                    <p>Battlefield</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/michele.png" alt="">
                    <div class="social">
                      <a href="https://github.com/MimjrJ20" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Michele"></a>
                      <a href="https://www.linkedin.com/in/michele-rosa-mjr/" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Michele"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Michele</p>
                    <p>Jogo Preferido:</p>
                    <p>PUBG</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/roberta.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/RabeloRoberta" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Roberta"></a>
                      <a href="https://www.linkedin.com/in/robertarabelocastro/" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Roberta"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Roberta</p>
                    <p>Jogo Preferido:</p>
                    <p>Final Fantasy</p>
                  </div>
                </div>

                <div class="box">
                  <div class="thumb">
                    <img src="../../../assets/equipe/wallan.jpg" alt="">
                    <div class="social">
                      <a href="https://github.com/wallanmota" target="_blank"><img class="icon" src="../../../assets/icons/icongithub.png" alt="GitHub Wallan"></a>
                      <a href="" target="_blank"><img class="icon2" src="../../../assets/icons/iconlinkedin.png" alt="Linkedin Wallan"></a>
                    </div>
                  </div>
                  <div class="text">
                    <p class="nome">Wallan</p>
                    <p>Jogo Preferido:</p>
                    <p>Super Mario</p>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
