<nav class="container-fluid navbar navbar-expand-md bgColorStyle" id="navbar" style=" background: #010127; display: flex; width: 100%;">
    <div class="container-fluid py-3">
      <!-- LOGO -->
      <h1 class="navbar-brand" style="max-width: 100%;">
        <a routerLink="/home">
          <img src="../../assets/Images/logoaw1.png" class="logo-style" alt="Logo AfterWork" style="width: 200px; min-height: auto; margin-top: -85px; margin-bottom: -35px; margin-right:-30%; padding: 0;">
        </a>
      </h1>
      <h3 style="color:white;">Notícias, novidades e muito mais!</h3>
        <button class="btn btn-secondary" style="margin-left: 0; background: #010127; border: 0; " routerLink="/home">Página inicial</button>

    </div>
</nav>
<app-nav></app-nav>

<div class="container d-flex" style="justify-content: center;">
    <div class="row md-12" style="justify-content: center;">
        <!-- Card 1-->
        <div class="col-md-5 mt-5 mb-5" style="border: 1px solid rgb(206, 204, 204); margin: 0; border-radius: 5%; margin-right: 2%;">
            <div class="row d-flex justify-content-center" style="padding:4% ;">
              <a href="https://adrenaline.com.br/noticias/v/74536/sequencia-de-zelda-breath-of-the-wild-so-chega-em-2023-anuncia-nintendo" target="_blank" style="color:#060606; text-decoration:none">
                <img src="../../assets/blog/legendzelda.jpg" style="border-radius:5%;" class="card-img-top" alt="Jogo The Legend of Zelda">
                <div class="card-body">
                    <h3 style="text-align: justify">Sequência de Zelda: Breath of the Wild só chega em 2023, anuncia Nintendo</h3><br>
                    <p class="card-text" style="text-align: justify">O novo capítulo da série Zelda tem a dura missão de dar sequência aos eventos de The Legend of Zelda: Breath of the Wild, que chegou em 2017 com versões para Nintendo Wii U e Nintendo Switch. O jogo representou uma grande mudança para a série, que deixou o formato linear para apostar em uma experiência de mundo aberto na qual os jogadores podiam cumprir missões na ordem que desejavam.</p>
                </div>
              </a>
            </div>
        </div>
        <!-- Card 2-->
        <div class="col-md-5 mt-5 mb-5" style="border: 1px solid rgb(206, 204, 204); margin: 0; border-radius: 5%; margin-right: 2%;">
            <div class="row d-flex justify-content-center" style="padding:4% ;">
              <a href="https://www.grandepremio.com.br/f1/noticias/f1-manager-2022-lancamento-30-de-agosto-novidades-trailer/" target="_blank" style="color:#060606; text-decoration:none">
              <img src="../../assets/blog/formula1.jpg" style="border-radius:5%;" class="card-img-top" alt="Jogo Fórmula 1">
                <div class="card-body">
                    <h3 style="text-align: justify">F1 Manager 2022 confirma lançamento para 30 de agosto e mostra novidades em trailer</h3><br>
                    <p class="card-text" style="text-align: justify">Jogo desenvolvido pela produtora Frontier Developments, F1 Manager 2022 tem como objetivo imergir os jogadores na missão de um chefe de equipe da Fórmula 1, com decisões importantes dentro e fora das pistas.</p>
                </div>
              </a>
            </div>
        </div>
        <!-- Card 3-->
        <div class="col-md-5 mt-5 mb-5" style="border: 1px solid rgb(206, 204, 204); margin: 0; border-radius: 5%; margin-right: 2%;">
            <div class="row d-flex justify-content-center" style="padding:4% ;">
              <a href="https://br.bolavip.com/games/Blizzard-anuncia-que-lancamento-de-Diablo-4-e-Overwatch-2-serao-adiados--Games-20211103-0099.html" target="_blank" style="color:#060606; text-decoration:none">
                <img src="../../assets/blog/DiabloIV.jpg" class="card-img-top" style="border-radius:5%;" alt="Jogo Diablo IV">
                <div class="card-body">
                    <h3 style="text-align: justify">Blizzard anuncia que lançamento de Diablo 4 e Overwatch 2 serão adiados</h3><br>
                    <p class="card-text" style="text-align: justify">Foi revelado que a Blizzard irá adiar o lançamento dos games Diablo 4 e Overwatch 2 indefinidamente, pois devido às mudanças que a empresa está passando será necessário mais tempo para desenvolvimento dos dois títulos.</p>
                    <p class="card-text" style="text-align: justify">Divulgado pelo jornalista Stephen Totilo, a Blizzard estava planejando entregar grande parte do conteúdo para o próximo ano, mas que essas mudanças farão a estreia desses dois jogos ser adiada e sem data de lançamento prevista.</p>
                </div>
              </a>
            </div>
        </div>
        <!-- Card 4-->
        <div class="col-md-5 mt-5 mb-5" style="border: 1px solid rgb(206, 204, 204); margin: 0; border-radius: 5%; margin-right: 2%;">
            <div class="row d-flex justify-content-center" style="padding:4% ;">
              <a href="http://www.residentevilproject.com/2022/06/the-capcom-project-street-fighter-6.html" target="_blank" style="color:#060606; text-decoration:none">
                <img src="../../assets/blog/streetfighter.jpg" class="card-img-top" style="border-radius:5%;" alt="Jogo Street Fighter">
                <div class="card-body">
                    <h3 style="text-align: justify">Street Fighter 6 ganha novo trailer, detalhes e previsão de lançamento para 2023</h3><br>
                    <p class="card-text" style="text-align: justify">Além das novidades na jogabailidade, Street Fighter 6 também reúne modos de jogo dos títulos anteriores, incluindo Modo Arcade, partidas online, Modo Treino, batalhas versus locais e mais. Ao falar sobre os personagens jogáveis, além dos icônicos World Warriors como Ryu e Chun-Li, passando pelo recente Luke e o expert em breakdance, Jamie, os jogadores terão uma ampla gama de estilos de luta e habilidades para dominar.</p>
                    <p class="card-text" style="text-align: justify">  O novo jogo estará disponível para PS5, PS4, Xbox Series X|S e PC.</p>
                </div>
              </a>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
